interactions:
- request:
    body: text=Delicious+food.+Disappointing+service.
    headers:
      content-type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.aylien.com/api/v1/absa/restaurants
  response:
    body: {string: !!python/unicode "{\n  \"text\": \"Delicious food. Disappointing
        service.\",\n  \"domain\": \"restaurants\",\n  \"aspects\": [{\n    \"aspect\":
        \"food\",\n    \"aspect_confidence\": 0.9835863709449768,\n    \"polarity\":
        \"positive\",\n    \"polarity_confidence\": 0.9158669114112854\n  }, {\n    \"aspect\":
        \"staff\",\n    \"aspect_confidence\": 0.9747142195701599,\n    \"polarity\":
        \"negative\",\n    \"polarity_confidence\": 0.9969394207000732\n  }],\n  \"sentences\":
        [{\n    \"text\": \"Delicious food.\",\n    \"polarity\": \"positive\",\n
        \   \"polarity_confidence\": 0.9158669114112854,\n    \"aspects\": [{\n      \"aspect\":
        \"food\",\n      \"aspect_confidence\": 0.9835863709449768,\n      \"polarity\":
        \"positive\",\n      \"polarity_confidence\": 0.9158669114112854\n    }]\n
        \ }, {\n    \"text\": \"Disappointing service.\",\n    \"polarity\": \"negative\",\n
        \   \"polarity_confidence\": 0.9969394207000732,\n    \"aspects\": [{\n      \"aspect\":
        \"staff\",\n      \"aspect_confidence\": 0.9747142195701599,\n      \"polarity\":
        \"negative\",\n      \"polarity_confidence\": 0.9969394207000732\n    }]\n
        \ }]\n}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-ratelimit-limit: ['6900']
      x-ratelimit-remaining: ['6887']
      x-ratelimit-reset: ['1461801600']
    status: {code: 200, message: OK}
version: 1
